################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/Webscoket/obj/Debug
/Webscoket/bin/Debug
